.square {
    width: 50px;
    height: 50px;
    outline-color: black;
    outline-width: 2px;
    margin: 2px;
    font: 2em;
}

.board {
    width: 160px;
    height: 160px;
    outline-color: black;
    outline-width: 2px;
}

.info {
    text-align: left;
    margin-left: 1em;
}

#root {
    display: flex;
    justify-content: flex;
    text-align: center;
}