.clearButton {
    height: 4em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: gray;
    color: black;
    outline: 1px solid gray;
}