p {
	font-family: Arial;
	font-weight: bold;
	line-height: 2;
}

h1 {
	font-size: 2.1em;
	text-align: center;
}

table {
	margin: auto;
	background-color: pink;
}

td {
	height: 100px;
	width: 100px;
}

.top {
	border-bottom: 2px black solid;
}

.left {
	border-right: 2px black solid;
}

.right {
	border-left: 2px black solid;
}

.bottom {
	border-top: 2px black solid;
}

